<!DOCTYPE html>
<html lang="hu">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/index.css'/>
    </head>
    <body>
        <div class="header">
            <h1>A MI weboldalunk</h1>
            <p>Az oldalt Csizmadia Péter András készítette.</p>
        </div>
        <div class="navbar">
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#">Link</a>
            <a href="#" class="right">Link</a>
        </div>
        <div class="row">
            <div class="side">...</div>
            <div class="main">...</div>
        </div>
        <div class="footer">
            <h2>Footer</h2>
        </div>
    </body>
</html>