<section class="szerv_fel">
    <div class="bg">
        <div class="responsive">
            <div class="gallery">
                <img src="./images/bence_szabo.jpg" title="Szabó Bence képe" alt="Szabó Bence képe">
                <div class="desc">
                    <h4>Szabó Bence</h3>
                    <h3>Pártvezető</h4>
                </div>
            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <img src="./images/gergo_kiss.jpg" title="Kiss Gergő képe" alt="Kiss Gergő képe">
                <div class="desc">
                    <h4>Kiss Gergő</h3>
                    <h3>Hawaii-magyar tudományos attasé</h4>
                </div>
            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <img src="./images/lel_lacko.jpg" title="Lackó Lél Levente képe" alt="Lackó Lél Levente képe">
                <div class="desc">
                    <h4>Lackó Lél Levente</h3>
                    <h3>Média</h4>
                </div>
            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <img src="./images/peti_csizi.jpg" title="Csizmadia Péter András képe" alt="Csizmadia Péter András képe">
                <div class="desc">
                    <h4>Csizmadia Péter András</h3>
                    <h3>Kiberbiztonság</h4>
                </div>
            </div>
        </div>
        <!--<div>
            <img src="" alt="Osztotics Richárd képe">
            <h4>Osztotics Richárd</h3>
            <h3>None</h4>
        </div>
        <div>
            <img src="" alt="Varga István képe">
            <h4>Varga István</h3>
            <h3>None</h4>
        </div>-->
    </div>
</section>