<!DOCTYPE html>
<html lang="hu">
    <head>
        <%- include("defhead") %>
    </head>
    <body>
        <form method="POST">
            <label for="title">Cím: </label><input id="title" type="text" name="title" value="Cím">
            <input type="submit" value="Post">
        </form>
    </body>
</html>