<section class="row">

<div class="side">
    <div class="card">
        <h3>További oldalaink:</h4>
        <p>Facebook: <a href="https://www.facebook.com/diakpart/">Link</a></p>
        <p>Instagram: <a href="https://www.instagram.com/12f_diakpart/">Link</a></p>
    </div>
    <div class="card">
            <h3>Rólunk:</h3>
            <p>
                A Széchenyi Diákpárt 2019-ben alakult azzal a céllal, hogy a választáson egy különleges, eddig nem látott formában induljon a kis csapatunk. A pártban a 12.F osztály tagjai töltik be a különböző posztokat. Tevékenységünk fő célja az, hogy kulturált módon vegyünk részt ebben a sokszor feszült és izgalmas játékban. Az iskola rendkívül népszerű programján a kampányt próbáljuk humoros és egyáltalán nem komoly szinten űzni. Repertoárunkban történelmi, filmes, könyves és politikai vonatkozású csipkelődések is akadnak. Fő eszközeink közé tartozik az irónia és a szarkazmus, de felfedezhetőek szimbólikus elemek is. Mi nem élünk felesleges és betarthatatlan ígéretekkel, illetve nem osztunk semmit azért, hogy ránk szavazzanak, mint manapság az aktuálpolitikában. Nem, nem azért mert annyira igénytelen és lusta banda vagyunk! Azért, mert ezek a módszerek csak a megtévesztésre jók. Egyik alapelvünk, hogy nem használjuk ezt a közönségesnek mondható eszközt. Már ugyan miért szeretnénk ezt, ha nekünk tényleg nem a győzelem a fontos? Sok abszurd feltételezést hallottunk már az évek során, mindig jót nevetünk rajta. Viszont az egy tényleg iszonyat fontos dolog, hogy akik ránk szavaznak, azok továbbra is ugyanolyan jó emberek fognak maradni, amilyenek előtte. Aki rossz volt azon sajnos mi sem tudunk segíteni!<br><br>
                A választás idejére békés légkört kívánunk mindenkinek, és reméljük az fog nyerni, aki a legjobb!<br><br>
                Az oldalon jó nézelődést!<br><br>
                A 12.F csapata
            </p>
        </div> 
    <div class="card">
        <h3>Oldalról:</h3>
        <p>Elsődlegesen tanulási és tapsztalat szerzés céljából készült.</p>
        <p>Az oldalt Csizmadia Péter András készítete.<br>Elérheted itt: <b>peter.andras.csizmadia@gmail.com</b></p>
    </div>
</div>
<div id="main"></div>

</section>