<div class="side">
    <div class="card">
        <h3>További oldalaink:</h4>
        <p>Facebook: <a href="https://www.facebook.com/diakpart/">Link</a></p>
        <p>Instagram: <a href="https://www.instagram.com/12f_diakpart/">Link</a></p>
    </div>
    <div class="card">
            <h3>Rólunk:</h3>
            <p>Rólunk</p>
        </div> 
    <div class="card">
        <h3>Oldalról:</h3>
        <p>Elsődlegesen tanulási és tapsztalat szerzés céljából készült.</p>
        <p>Az oldalt Csizmadia Péter András készítete.<br>Elérheted itt: <b>peter.andras.csizmadia@gmail.com</b></p>
    </div>
</div>
<div id="main">
    <!-- <article id="fake0" class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </article>
    <article id="fake1" class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <embed src="https://i.imgur.com/iiweJAv.jpg">
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </article> -->
</div>