html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header {
    /* top | horizontal | bottom */
    padding: 20px 80px 40px;
    text-align: center;
    color: #000080;
}

.header h1 {
    font-size: 60px;
}

.header img {
    display: block;
    max-width: 140px;
    float: left;
}

.header img.right {
    float: right;
}

.navbar {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000080;
    overflow: hidden;
    background-color: #000080;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #FAE09E;
    color: black;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.row {
    border-radius: 5px;
    display: flex;
    overflow-wrap: break-word;
}

.side {
    border-radius: 5px;
    flex: 25%;
    background-color: #333399;
    padding: 20px;
}

.side p {
    margin-left: 10px;
}

.side img, h3 {
    vertical-align: middle;
}

.side img {
    width: 10%;
}

.card {
    border-radius: 5px;
    margin-top: 20px;
    /* top | right | bottom | left */
    padding: 2px 20px 20px 20px;
    background-color: white;
}

.card.icons {
    padding: 5px;
    padding-left: 20px;
}

#main {
    border-radius: 5px;
    flex: 75%;
    /*background-color: #B1A179;*/
    background-color: #D1AF61;
    padding: 20px;
}

embed {
    width: 60%;
}

article {
    border-radius: 5px;
    margin-top: 20px;
    /* top | right | bottom | left */
    padding: 2px 20px 20px 20px;
    background-color: white;
    border: 2px solid #000080;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 6px 6px 2px 1px #000080;
}

article div.buttons {
    display: flex;
    justify-content: flex-end;
}

article input[type=button] {
    box-shadow: 2px 1px 2px 1px #000040;
    margin-left: 4px;
    width: fit-content;
    background-color: #000080;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
}

article input[type=button]:focus {
    background: #FAE09E;
    border: 1px, solid, #000080;
    color: black;
}

article input[type=button]:hover {
    opacity: 1;
}

hr {
    border: none;
    border-radius: 3px;
    background-color: #000080;
    height: 4px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 5%;
    top: 5%;
    right: 25%;
    left: 25%;
    height: fit-content;
    border: 3px solid #555;
    z-index: 9;
    background-color: white;
}
  
.form-container textarea {
    resize: none;
    max-width: 100%;
    width: 100%;
    height: 300px;
    max-height: 300px;
    margin-bottom: 10px;
}
  
/* Add styles to the form container */
.form-container {
    padding: 10px;
}
  
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

input[type=text]#title_desc {
    width: 30vmax;
}
  
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .button-container {
    float: right;

}
  
/* Set a style for the submit/login button */
.form-container .button-container .btn {
    width: fit-content;
    background-color: #000080;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 0.8;
}
  
/* Add a red background color to the cancel button */
.form-container .button-container .cancel {
    background-color: red;
}
  
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#goToTopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid white; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #000080; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#goToTopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

@media screen and (max-width: 900px) {
    .row {
        flex-direction: column
    }

    .header {
        /* top | horizontal | bottom */
        padding: 10px 20px 30px;
    }

    .header h1 {
        padding-top: 10px;
        font-size: 18px;
    }

    .header img {
        max-width: 60px;
    }

    .side img {
        width: 5%;
    }

    embed {
        width: 100%;
    }

    .form-popup {
        height: 100%;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
    }

    .form-container h1 {
        font-size: 18px;
    }

    .form-container input[type=text], .form-container input[type=password] {
        padding: 5px;
        margin: 2px 0 10px 0;
    }
    .form-container input[type=password] {
        padding: 15px;
        width: 40%;
    }
    .form-container .button-container {
        float: right;
    }

    #goToTopButton {
        padding: 6px 11px;
    }
}

@media screen and (max-width: 540px) {
    .side img {
        width: 10%;
    }

    .navbar a {
        float: none;
        width: 100%;
    }

    #goToTopButton {
        padding: 4px 9px;
    }
}

@media screen and (max-height: 700px) {
    .form-container textarea {
        height: 30vmax;
    }
}

@media screen and (max-height: 400px) {
    .form-container textarea {
        height: 15vmax;
    }
}