.header {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    color: #000080;
}

.header h1 {
    padding-top: 40px;
    font-size: 40px;
}

.header img {
    display: block;
    max-width: 140px;
    float: left;
}

.header img.right {
    float: right;
}

.navbar {
    overflow: hidden;
    background-color: #000080;
}

div.right {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #FAE09E;
    color: black;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 25%;
    background-color: #333399;
    padding: 20px;
}

.side p {
    margin-left: 10px;
}

.card {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.main {
    scroll-behavior: auto;
    flex: 75%;
    background-color: lightgray;
    padding: 20px;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

#goToTopButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #000080; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#goToTopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}